<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title> 
</head>
<body>
  <h1><%= message %></h1>
  
  <p>Here is a list of items:</p>
  <ul>
    <% items.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>
</body>
</html>
