:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

.counter-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 250px;
}
button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}